.App-header {
  padding-top: 15px;
  position: absolute;
  width: 100%;
}

.App-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 40vh;
}

.App-view {
  position: relative;
}

.App-links {
  bottom: 2rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  width: 3rem;
}

.App-links img {
  height: 100%;
}

.Form-label {
  font-size: calc(3px + 1.5vmin);
}

.Form-label .Form-text {
  margin-top: 0.5vmin;
}

.Form-message {
  font-size: calc(5px + 1.8vmin);
}

.Form-text {
  display: block;
  font-size: calc(5px + 2vmin);
  letter-spacing: 0.15em;
  padding: 0.3em;
}

.Form-submit {
  margin-top: 0.7rem;
}

.Button {
  background-color: #505050;
  border: none;
  color: white;
  cursor: pointer;
  font-size: calc(7px + 1.5vmin);
  font-weight: bold;
  padding: 0.4em;
}

.Button:hover {
  background-color: black;
}

.block-ui-container {
  cursor: default;
}

.loading-bullet {
  color: black;
}

.hide-loader .loading-indicator {
  display: none;
}