.account-block {
  float: right;
  padding: 0 25px;
}

.connect-button {
  background: white;
  border: 1px solid rgb(190, 190, 190);
  cursor: pointer;
  height: 38px;
  margin-left: 20px;
  padding: 10px 10px;
}

.connect-button:hover {
  background: rgb(243, 243, 243);
}

.chain-select {
  display: inline-block;
  vertical-align: middle;
}

.address {
  cursor: default;
  display: inline-block;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100px;
}